html
  head
    title="Whoami Service for FCC Basejump"
  body 

    h1 Whoami Service for FCC Basejump

    p Displays the IP address, language and operating system for the visitors browser.
    
    h2 Credits
    
    p Made by #[a(href="http://jcapona.github.io") jcapona]
    
    p Check the repo #[a(href="https://github.com/jcapona/api-whoami-basejump") @Github]
        


